{{#each list}}
<div class="col-lg-6">
            <a class="portfolio-item" href="javascript:openNewWin1('{{url}}','{{title}}')">
              <span class="caption">
                <span class="caption-content">
                  
                  <p class="mb-0">{{title}}</p>
                </span>
              </span>
              <img style="width: 100%; height: 68.7%width" src="/img1/{{img}}.jpg" alt="">
            </a>
          </div>
{{/each}}
<script>

function openNewWin1(url,title)
{
    var storge = window.localStorage
    if(storge.getItem('account')){
      $.ajax({
              url: "/addnew",
              type: "POST",
              datatype: "json",
              data: {
                  account: storge.getItem('account'),
                  url: url,
                  title: title
              },
              success(data){

              }
            })
    }
    
    window.open(url, title, "location=no,status=no,scrollvars=no");
}
        </script>